/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2Faa;
    background-alt: #282839aa;
    foreground:     #D9E0EEaa;
    selected:       #f5e0dc;
    active:         #a6e3a1;
    urgent:         #f38ba8;
}
